* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.counter {
    font-weight: bold;
    font-size: 25px;
}


button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

button:active {
    background-color: rgb(31, 30, 30);
}